.container {
  @apply p-4 rounded-md shadow-sm bg-white text-slate-600 hover:text-slate-900 dark:bg-slate-700 dark:border-slate-600 dark:hover:bg-slate-600 dark:text-slate-100 dark:hover:text-slate-50;
}

.title {
  @apply font-semibold text-lg;
}

.description {
  @apply font-light text-sm text-slate-400 dark:text-slate-300;
}
