.container {
  @apply flex flex-row justify-between items-center bg-white border border-slate-100 rounded-lg shadow-sm dark:bg-slate-700 dark:border-slate-600 p-4;
}

.details {
  @apply pr-4 flex-1 max-w-[calc(100%-150px)];
}

.filename {
  @apply text-lg text-slate-700 whitespace-nowrap text-ellipsis overflow-hidden dark:text-slate-100;
}

.actions {
  @apply flex flex-row justify-end pt-2;
}

.button {
  @apply ml-2 focus:ring-4 focus:outline-none rounded-lg p-2.5 text-center inline-flex items-center;
}

.disabledButton {
  @apply disabled:text-slate-400 disabled:bg-slate-50 disabled:hover:bg-slate-50;
}

.buttonDefault {
  @apply button disabledButton text-slate-700 bg-slate-100 hover:bg-slate-200 focus:ring-slate-50 dark:text-white dark:bg-slate-500 dark:hover:bg-slate-400 dark:focus:ring-slate-400;
}

.successButton {
  @apply buttonDefault hover:text-green-500 hover:bg-green-100 focus:ring-green-50 dark:hover:bg-green-200 dark:focus:ring-green-100;
}

.errorButton {
  @apply buttonDefault text-slate-700 bg-slate-100 hover:text-red-500 hover:bg-red-100 focus:ring-red-50 dark:hover:bg-red-200 dark:focus:ring-red-100;
}