.main {
  @apply container mx-auto p-4;
}

.title {
  @apply font-bold text-slate-900 text-2xl pt-4 pb-2 dark:text-white;
}

.subtitle {
  @apply font-medium text-slate-400 text-lg pb-4;
}

.content {
  @apply mt-6;
}