.container {
  @apply flex items-center;
}

.text {
  @apply ml-0 text-sm font-normal text-slate-500 dark:text-slate-50;
}

.link {
  @apply ml-0 text-sm font-normal text-slate-700 hover:font-bold dark:text-slate-50 dark:hover:text-white;
}

.icon {
  @apply mx-1 text-gray-400;
}